Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-common-instancetypes-kubevirt-functest, pull-build-common-instancetypes-builder

github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-presubmits.yaml:

presubmits:
  kubevirt/common-instancetypes:
  - name: pull-common-instancetypes
    branches:
      - main
    always_run: true
    optional: true
    decorate: true
    decoration_config:
      timeout: 3h
    max_concurrency: 5
    labels:
      preset-docker-mirror: "true"
    cluster: kubevirt-prow-control-plane
    spec:
      containers:
      - image: quay.io/kubevirtci/common-instancetypes-builder:v20231124-0bd5b70
        command:
        - "/bin/bash"
        - "-c"
        - "make && cp _build/* /logs/artifacts"
        resources:
          requests:
            memory: "1Gi"
  - name: pull-common-instancetypes-kubevirt-functest
    branches:
      - main
    always_run: false
    run_if_changed: "instancetypes/.*|preferences/.*|scripts/functest.sh"
    cluster: kubevirt-prow-workloads
    decorate: true
    decoration_config:
      grace_period: 5m0s
      timeout: 1h0m0s
    labels:
      preset-bazel-cache: "true"
      preset-bazel-unnested: "true"
      preset-docker-mirror-proxy: "true"
      preset-gcs-credentials: "true"
      preset-podman-in-container-enabled: "true"
      preset-podman-shared-images: "true"
      preset-shared-images: "true"
    max_concurrency: 1
    spec:
      containers:
      - command:
        - /usr/local/bin/runner.sh
        - "/bin/sh"
        - "-c"
        - "make kubevirt-up && make kubevirt-sync && make kubevirt-functest"
        env:
        - name: KUBEVIRT_MEMORY_SIZE
          value: 16G
        image: quay.io/kubevirtci/bootstrap:v20231115-51a244f
        name: ""
        resources:
          requests:
            memory: 20Gi
        securityContext:
          privileged: true
      nodeSelector:
        type: bare-metal-external
  - name: pull-build-common-instancetypes-builder
    always_run: false
    run_if_changed: "image/.*"
    branches:
      - main
    decorate: true
    decoration_config:
      timeout: 1h
    max_concurrency: 1
    labels:
      preset-podman-in-container-enabled: "true"
      preset-docker-mirror: "true"
    annotations:
      testgrid-create-test-group: "false"
    cluster: kubevirt-prow-workloads
    spec:
      nodeSelector:
        type: bare-metal-external
      containers:
        - image: quay.io/kubevirtci/golang:v20231115-51a244f
          env:
            - name: COMMON_INSTANCETYPES_CRI
              value: podman
          command:
            - "/usr/local/bin/runner.sh"
            - "/bin/bash"
            - "-c"
            - "make build_image"
          securityContext:
            privileged: true
          resources:
            requests:
              memory: "8Gi"

fix: Pull containerdisks before pushing them
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: none

chore: Add test ids to functional tests
  tests/functests/instancetype_test.go
Due: none

feat: Allow to use fixed versions of KubeVirt and kubevirtci
  scripts/kubevirtci.sh
Due: none

chore: Fix KubeVirt and kubevirtci versions
  Makefile
Due: none

fix: Replace names in checksum file during release
  .github/scripts/build.sh
Due: none

chore: Remove nodeselector from N instancetypes
  instancetypes/n/1/n1.yaml
Due: pull-common-instancetypes-kubevirt-functest

Update Windows 10 preference to allow for boot from UEFI with TPM
  preferences/windows/10/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat: Add build_windows_containerdisks.sh
  .gitignore
  image/build_windows_containerdisk.sh
  image/overlays/generic/post-install.ps1
  image/overlays/windows10/autounattend.xml
  image/overlays/windows11/autounattend.xml
  image/overlays/windows2k16/autounattend.xml
  image/overlays/windows2k16/post-install.ps1
  image/overlays/windows2k19/autounattend.xml
  image/overlays/windows2k22/autounattend.xml
Due: pull-build-common-instancetypes-builder

feat: Add Windows functional tests
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: none

fix: Remove TPM from Windows 10 preference
  preferences/windows/10/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat: Use virtio in Windows functional tests
  image/build_windows_containerdisk.sh
  image/overlays/windows10/autounattend.xml
  image/overlays/windows11/autounattend.xml
  image/overlays/windows2k16/autounattend.xml
  image/overlays/windows2k19/autounattend.xml
  image/overlays/windows2k22/autounattend.xml
  tests/functests/instancetype_test.go
Due: pull-build-common-instancetypes-builder

add test id for instancetype/preference label tests
  tests/unittests/instancetype_test.go
Due: none

feat: Add labels to windows containerdisks
  image/build_windows_containerdisk.sh
  image/validationos.Dockerfile
Due: pull-build-common-instancetypes-builder

Remove 'codingben' from OWNERS
  OWNERS
Due: none

tests: Move windows10 image back to BIOS boot
  image/build_windows_containerdisk.sh
  image/overlays/windows10/autounattend.xml
Due: pull-build-common-instancetypes-builder

feat: Add n1.medium instancetype
  README.md
  instancetypes/n/1/sizes.yaml
Due: pull-common-instancetypes-kubevirt-functest

Adopt UEFI in Windows 2k12, 2k16 and 2k19
  image/build_windows_containerdisk.sh
  image/overlays/windows2k16/autounattend.xml
  image/overlays/windows2k19/autounattend.xml
  preferences/windows/2k12/kustomization.yaml
  preferences/windows/2k16/kustomization.yaml
  preferences/windows/2k19/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-build-common-instancetypes-builder

validationos.Dockerfile: Drop superfluous parenthesis
  image/validationos.Dockerfile
Due: pull-build-common-instancetypes-builder

cleanup: Drop labels from images
  image/build_windows_containerdisk.sh
  image/validationos.Dockerfile
Due: pull-build-common-instancetypes-builder

kubevirtci: Enable the VMPersistentState feature gate
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: none

Windows 11, 2k22: Enable persistent TPMs
  preferences/components/tpm/tpm.yaml
Due: pull-common-instancetypes-kubevirt-functest

fedora: Add an aarch64 preference
  README.md
  preferences/fedora/aarch64/kustomization.yaml
  preferences/fedora/aarch64/metadata/kustomization.yaml
  preferences/fedora/aarch64/metadata/metadata.yaml
  preferences/fedora/kustomization.yaml
  preferences/fedora/x86_64/kustomization.yaml
  preferences/fedora/x86_64/metadata/kustomization.yaml
  preferences/fedora/x86_64/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest

kubevirt: Pin to KubeVirt 1.2 for testing
  Makefile
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: none

OWNERS: Remove opokornyy
  OWNERS
Due: none

Revert "Remove 'codingben' from OWNERS"
  OWNERS
Due: none
